body {
  background: #f0f0f0;
}
.btn {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #696969;
}
/* Navbar */
.mynav {
  background-color: #fed700;
}
.navbar {
  background-color: transparent !important;
  height: 60px;
  width: fit-content;
}

.navbar .navbar-brand img {
  padding-left: 150px;
  height: 100px;
}

.navbar .nav-item a {
  color: #fff !important;
}

.navbar .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.3);
}
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar form button {
  background-color: transparent;
  color: #fff;
  border: 0;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.navbar form button:hover {
  background-color: rgba(63, 59, 6, 0.3);
}
#login {
  position: absolute;
  right: -500px;
}
#login a {
  color: #FFF(247, 17, 17) !important;
}

/* Container */
.container-1 {
  padding-top: 20px;
  width: 1200px;
  margin: auto;
}
/* .container-1::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
} */
.box {
  float: left;
  background: #fff;
  margin-bottom: 20px;
}
/* carousel */
.my-carousel {
  width: 800px;
  height: 300px;
  display: block;
  position: relative;
}
.carousel-caption {
  color: black;
}

/* RANK */
.rank {
  margin-left: 10px;
  width: 390px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  background: #fed700;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
.rank a {
  display: flex;
  text-decoration: none;
  color: #111111;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  margin: 5px 0;
  transition: 0.5s;
}
.rank a:nth-child(1) {
  background: rgba(255, 255, 255, 0.8);
}
.rank a:nth-child(2) {
  background: rgba(255, 255, 255, 0.6);
}
.rank a:nth-child(3) {
  background: rgba(255, 255, 255, 0.4);
}
.rank a:nth-child(4) {
  background: rgba(255, 255, 255, 0.2);
}

.rank a span:nth-child(1) {
  width: 30px;
}
.rank a span:nth-child(2) {
  width: 70px;
}
.rank a span:nth-child(3) {
  width: 230px;
}
.rank a span:nth-child(4) {
  width: 70px;
  text-align: right;
}
.rank a:hover {
  transform: scale(1.06);
  background: white;
}
.rank .rank-img img{
    height: 30px;
    width: auto;
    overflow: hidden;
}

/* Owl-carousel */
.navigat{
    clear: both;
    padding: 5px 15px;
    font-size: larger;
    background: #fed700;
    margin-bottom: 3px;
}
.owl-carousel {
  background: #fff;
}
.owl-carousel .item {
  margin: 3px;
  width: 200px;
  height: auto;
  overflow: hidden;
}
.owl-carousel .item .item-caption{
    text-align: center;
}
.owl-carousel .item .item-caption p{
    color: red;
}
.owl-carousel .item img {
  width: auto;
  height: 200px;
}
