body {
  background: #f0f0f0;
}
header{
  margin-bottom: 20px;
}
.btn {
  border-radius: 10px;
}
.center{
  text-align: center !important;
}
.right{
  text-align: right !important;
}
.left{
  text-align: left !important;
}
.no-padding{
  padding: 0 !important; 
}
.no-margin{
  margin: 0 !important;
}
div{
  display: block;
}
.clr {
  clear: both;
  display: block;
  border-bottom: 1px solid #ccc ;
}
a {
  text-decoration: none;
  color: #696969;
}
/* menu */
header{
  background: #fed700;
}
.wrap-main {
  width: 1200px;
  height: 55px;
  background: #fed700;
  margin: auto;
  position: relative;
  display: block;
}
.logo {
  float: left;
  display: block;
}
.logo img{
  height: 60px;
}
#search-site {
  float: left;
  margin: 10px 10px 0 10px;
  position: relative;
}
#search-site .form-control {
  float: left;
  width: 160px;
  margin-left: 10px;
  border: 0;
  position: relative;
  background: #fff;
  border-radius: 0%;
}
#search-site .btn{
  border-radius: 0%;
}

#menu{
  float: left;
}
#menu ul {
  list-style-type: none;
  text-align: center;
}
#menu li {
  display: inline-block;
  width: 100px;
  line-height: 56px;
}
#menu a {
  text-decoration: none;
  color: #111111;
  display: block;
}
#menu a:hover {
  background: #fff;
  color: #111111;
}

/* dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fed700;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #fff;}
.dropdown:hover .dropdown-content {
  display: block;
}
.login{
  background: none;
  border: none  ;
  height: 55px;
  width: 60px;
  padding: 10px;
}
.login:hover{
  background: #fff;
}
/* Dropdown menu */


/* Container */
.container-1 {
  width: 1200px;
  margin: auto;
}
.container-1 a{
  text-decoration: none;
}
.container-dangnhap {
  width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.container-dangnhap img{
  height: 80px;
}

.box {
  float: left;
  background: #fff;
  margin-bottom: 20px;
}
/* carousel */
.my-carousel {
  width: 800px;
  height: 300px;
  display: block;
  position: relative;
}
.carousel-caption {
  color: black;
}

/* RANK */
.rank {
  margin-left: 10px;
  width: 390px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  background: #fed700;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
.rank a {
  display: flex;
  text-decoration: none;
  color: #111111;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  margin: 5px 0;
  transition: 0.5s;
}
.rank a:nth-child(1) {
  background: rgba(255, 255, 255, 0.8);
}
.rank a:nth-child(2) {
  background: rgba(255, 255, 255, 0.6);
}
.rank a:nth-child(3) {
  background: rgba(255, 255, 255, 0.4);
}
.rank a:nth-child(4) {
  background: rgba(255, 255, 255, 0.2);
}

.rank a span:nth-child(1) {
  width: 30px;
}
.rank a span:nth-child(2) {
  width: 70px;
}
.rank a span:nth-child(3) {
  width: 230px;
}
.rank a span:nth-child(4) {
  width: 70px;
  text-align: right;
}
.rank a:hover {
  transform: scale(1.06);
  background: white;
}
.rank .rank-img img{
    height: 30px;
    width: auto;
    overflow: hidden;
}

/* Owl-carousel */
.navigat{
    clear: both;
    padding: 5px 15px;
    font-size: larger;
    background: #fed700;
    margin-top: 20px;
    margin-bottom: 3px;
}
.owl-carousel {
  background: #fff;
}
.owl-carousel a{
  text-decoration: none;
}

.owl-carousel .item {
  margin: 3px;
  width: 200px;
  height: auto;
  overflow: hidden;
}
.owl-carousel .item .item-caption{
    text-align: center;
}
.owl-carousel .item .item-caption p{
    color: red;
}
.owl-carousel .item img {
  margin: 0 auto 0 auto;
  width: auto;
  height: 200px;
}
/* phone list */
.phone-list{
  background: #fff;
}
.phone-list::after{
  clear: both;
  content: "";
  display: block;
  width: 0px;
  height: 0px;
}
.phone-list a{
  text-decoration: none;
}
.phone-list p{
  color: red;
}
.phone-list-item{
  float: left;
  width: 240px;
  height: 300px;
  background: #fff;
  border: 1px solid #eee;
}
.phone-list-item:hover{
  /* margin-top: -3px; */
  border: 1px solid #ccc;
}
.phone-list-item img{
  display: block;
  margin: 20px auto 0 auto;
  width: 200px;
}

.phone-list-item .desc{
  padding: auto;
  text-align: center;
}
/* Tim kiem */
.timkiem{
  background: #fff;
  padding: 0 0 11px 1px;
  overflow: hidden;
}
.timkiem-logo a{
  float: left;
  border: 1px solid #eee;
  height: 40px;
  position: relative;
  color: #288ad6;
  text-align: center;
}
.timkiem-logo img{
  max-height: 70%;
  width: 131px;
  margin: auto;
}
.timkiem-gia{
  padding: 10px;
}
/* Trang chitiet */
/* chi tiet hinh anh */
.chitiet-hinh{
  height: 480px;
  width: 500px;
}
.chitiet-hinh img{
  margin: 20px auto 0 50px;
  width: 400px;
}

/* chi tiet dia diem mua */
.chitiet-mua{
  height: 480px;
  text-align: center;
  width: 250px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 0 15px;
}
.chitiet-mua-item{
  border: 1px solid #ccc;
  padding: 5px;
}
.chitiet-mua-item a{
  font-size: 20px;
  color: #666;
}
.chitiet-mua-item a:hover{
  color: #fed700;
}
.chitiet-mua-item img{
  width: 200px;
}
/* chi tiet cau hinh */
.chitiet-cauhinh{
  height: 480px;
  width: 450px;
  padding: 0 20px;
}

.chitiet-cauhinh table{
  border-collapse:collapse;
  width: 100%;
}
.chitiet-cauhinh table td{
  color: #666;
  border-top:1px solid #ccc;
  height: 40px;
  text-align: left;
}
/* Bai danh gia */
.chitiet-review{
  background: #fff;
  padding: 10px;
}
/* .chitiet-review img{
  margin-left: auto;
  margin-right: auto;
  display: block;
} */
/* Phan binh luan */
.chitiet-cmt{
  background: #fff;
  padding: 10px;
}
.chitiet-cmt-emotion{
  height: 50px;
}
.chitiet-cmt-emotion button{
  float: right;
}
.chitiet-cmt ul{
  list-style-type: none;
}
.list-cmt{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.cmt{
  border-top: 1px solid #ccc;
}
.cmt-ten{
  font-weight:bolder ;
}
.cmt-noidung{
  padding-left: 10px;
}

/* like/dislike */
.cmt .fas {
  margin: 0px 20px;
  font-size: 20px;
  cursor: pointer;
}
.fa-thumbs-up:hover {
  color: blue;
}
.fa-thumbs-down:hover {
  color: red;
}
/* Login */
.tab-pane{
  height: 400px;
}
.sign-in{
  width: 70%;
  margin: auto;
}
.form-group label{
  color: #111111 !important;
}

/* footer */
footer .footer-copyright{
  background-color: #fed700;
  text-align: center;
}
footer .fab{
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
footer .fab:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus-g {
  background: #dd4b39;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}